## Disable default fish greeting
set fish_greeting
set VIRTUAL_ENV_DISABLE_PROMPT "1"
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"

fish_add_path /usr/local/go/bin
fish_add_path $HOME/.local/bin

{% if hostvars[inventory_hostname].ansible_distribution == "MacOSX" %}
        fish_add_path /opt/homebrew/bin
        fish_add_path $HOME/Library/Python/3.9/bin
{% endif %}

## Starship prompt
if status --is-interactive
   starship init fish | source
end

if test -f $HOME/.config/fish/aliases.fish
        source $HOME/.config/fish/aliases.fish
end

if test -f $HOME/.config/fish/functions.fish
        source $HOME/.config/fish/functions.fish
end