function bind_bang
  switch (commandline -t)
  case "!"
    commandline -t -- $history[1]
    commandline -f repaint
  case "*"
    commandline -i !
  end
end

function bind_dollar
  switch (commandline -t)
  case "*!"
    commandline -f backward-delete-char history-token-search-backward
  case "*"
    commandline -i '$'
  end
end

function fish_user_key_bindings
  bind ! bind_bang
  bind '$' bind_dollar
end

{% if hostvars[inventory_hostname].ansible_distribution == "MacOSX" %}
function brewlist -a tap
  brew tap-info $tap --json | jq '.[0].formula_names[]'
end
{% endif %}