include () {
    [[ -f "$1" ]] && source "$1"
}

export ZSH="$HOME/.oh-my-zsh"

eval "$(starship init zsh)"

{% for path in shell_paths %}
export PATH="$PATH:{{ path }}"
{% endfor %}

{% for path in shell_paths_custom %}
export PATH="$PATH:{{ path }}"
{% endfor %}

# Include aliases and function
include $HOME/.bash_aliases
include $HOME/.bash_functions

# Include custom bash files
mkdir -p $HOME/.bash_conf
for f in $HOME/.bash_conf/bash_*(N); do include $f; done

plugins=({{ zsh_plugins | map(attribute='name') | join(' ') }})

source $ZSH/oh-my-zsh.sh
