# Aliases in all shells
{% for alias, command in (shell_aliases | default({}, true)).items() -%}
    alias {{alias}}='{{command}}'
{% endfor %}

# Fish specific aliases
{% for alias, command in (fish_aliases | default({}, true)).items() -%}
    alias {{alias}}='{{command}}'
{% endfor %}

# Custom Fish Aliases
{% for alias, command in (fish_aliases_custom | default({}, true)).items() -%}
alias {{alias}}='{{ command }}'
{% endfor %}

{% if hostvars[inventory_hostname].ansible_distribution == "MacOSX" %}
# MacOSX Specific Aliases
alias brewup="brew update && brew upgrade"
{% endif %}