## Disable default fish greeting
set fish_greeting
set VIRTUAL_ENV_DISABLE_PROMPT "1"
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"

{% for path in shell_paths %}
fish_add_path {{ path }}
{% endfor %}

{% for path in shell_paths_custom %}
fish_add_path {{ path }}
{% endfor %}

## Starship prompt
if status --is-interactive
   starship init fish | source
end

if test -f $HOME/.config/fish/aliases.fish
        source $HOME/.config/fish/aliases.fish
end

if test -f $HOME/.config/fish/functions.fish
        source $HOME/.config/fish/functions.fish
end