include () {
    [[ -f "$1" ]] && source "$1"
}

eval "$(starship init bash)"

# Include aliases and function
include $HOME/.bash_aliases
include $HOME/.bash_functions

# Include custom bash files
mkdir -p $HOME/.bash_conf
for f in $HOME/.bash_conf/bash_*; do source $f; done