include () {
    [[ -f "$1" ]] && source "$1"
}

eval "$(starship init bash)"

{% for path in shell_paths %}
export PATH="$PATH:{{ path }}"
{% endfor %}

{% for path in shell_paths_custom %}
export PATH="$PATH:{{ path }}"
{% endfor %}

# Include aliases and function
include $HOME/.bash_aliases
include $HOME/.bash_functions

# Include custom bash files
mkdir -p $HOME/.bash_conf
shopt -s nullglob
for f in $HOME/.bash_conf/bash_*; do include $f; done