## Useful aliases
# Replace ls with exa
alias ls='exa -al --color=always --group-directories-first --icons' # preferred listing
alias la='exa -a --color=always --group-directories-first --icons'  # all files and dirs
alias ll='exa -l --color=always --group-directories-first --icons'  # long format
alias lt='exa -aT --color=always --group-directories-first --icons' # tree listing
alias l.="exa -a | egrep '^\.'"                                     # show only dotfiles

# Common use
alias bashup='source $HOME/.bashrc'
alias tarnow='tar -acf '
alias untar='tar -zxvf '
alias wget='wget -c '
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias kc="kubectl"
alias wkc="watch kubectl"

{% if hostvars[inventory_hostname].ansible_distribution == "MacOSX" %}
# MacOSX Specific Aliases
alias brewup="brew update && brew upgrade"
{% endif %}

# Custom Bash Aliases
{% for alias, command in bash_aliases_custom.items() -%}
    alias {{alias}}='{{ command }}'
{% endfor %}